:root {
    --light-bg: #eee;
    --light-fontColor: #222;
    
    --dark-bg: #181818;
    --dark-fontColor: #eee;
    --dark-foreGround: #eee;

    --fontColor: var(--light-fontColor);
    --background: var(--light-bg);
    --foreGround: var(--dark-bg);
}

::-webkit-scrollbar {
    display:none;
}

.dark {
    --fontColor: var(--dark-fontColor);
    --background: var(--dark-bg);
    --foreGround: var(--dark-foreGround)
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;padding: 0;
    box-sizing: border-box;
    color: var(--fontColor);
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
    overflow-x: hidden;
    text-decoration: none;
    transition: all .2s;
}

body a {
    color: var(--fontColor);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

.box {
    width: 50px;
    height: 50px;
    background-color: var(--foreGround);
    position: absolute;
    right: 0;
    cursor: pointer;
}

.wave {
    width: 100%;
    height: 100%;
    background-color: var(--foreGround);
    position: absolute;
    top: 0;
    left: 0;
    animation: dalga 2s infinite;
}

@keyframes dalga {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.about {
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.about div {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.about div .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.about div span {
    width: 90%;
    text-align: center;
}

.about img {
    width: 20%;
    height: 40%;
    border-radius: 10%;
}

.about .social {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.fa-twitter {
    font-size: 30px;
    margin: 2px;
    color: #1DA1F2;
}

.fa-twitter:before {
    content: "\f099";
    font-family: "Font Awesome 5 Brands";
}

.fa-instagram {
    font-size: 30px;
    margin: 2px;
    color: #E4405F;
}

.fa-instagram:before {
    content: "\f16d";
    font-family: "Font Awesome 5 Brands";
}

.fa-discord {
    margin: 2px;
    font-size: 30px;
    color: #7289DA; /* Discord mavi */
}

.fa-discord:before {
    content: "\f Discord ikonunun Unicode değeri */
    font-family: "Font Awesome 5 Brands"; /* Font Awesome ikon fontu */
}

.fa-github {
    margin: 2px;
    font-size: 30px;
    color: var(--fontColor); /* GitHub siyah */
}

.fa-github:before {
    content: "\f Github ikonunun Unicode değeri */
    font-family: "Font Awesome 5 Brands"; /* Font Awesome ikon fontu */
}

.fa-linkedin {
    margin: 2px;
    font-size: 30px;
    color: #0077B5; /* LinkedIn mavisi */
}

.fa-linkedin:before {
    content: "\f Linkedin ikonunun Unicode değeri */
    font-family: "Font Awesome 5 Brands"; /* Font Awesome ikon fontu */
}

.techno {
    display: flex;
    width: 75%;
    justify-content: space-around;
    margin: 5px;
    flex-direction: column;
}

.techno div {
    display: flex; 
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.techno div img {
    width: 25%;
}

.techno a {
    padding: 5px;
    border: 1px solid #3498db;
    margin: 3px;
    display: flex; 
    justify-content: space-between;
    border-radius: 6px; 
    align-items: center;
    width: 150px;
}

.footer {
    width: 100%; 
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer hr {
    width: 100%;
}

.footer .first {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.footer div span {
    color: #0077Bb;
}

.date {
    color: var(--fontColor) !important;
}
